* {
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-image: url('../imgs/wavegrid.png');
}

div {
/* 	border: 1px solid black; */
}

div.side {
	height: 2em;
}

div.big-photo {
	height: 100%;
}

div#photo {
	height: 100%;
	width: 100%;
	margin-left:1em;
	margin-right:1em;
}

div#photo div#big {
	width: 100%;
	height: 100%;
}

div#photo div#big img {
 	height: auto;
 	width: 100%;
}

button#more {
	width: 100%;
	min-width:9em;
	height: 3em;
	margin-right: 1em;
	margin-top: 0.75em;
	margin-bottom: 1.5em;
	border: 0.4em solid rgba(40,200,145,.9);
	background: none;
	color: rgba(40,200,145,.9);
	font-size: 2em;
	font-family: 'Open Sans Condensed', sans-serif;
}

button#more:hover {
	background-color:rgba(40,200,145,.9);
	border: none;
	color: #FFF1C2;
}

ul#photos {
	list-style: none;
	height: 32.5em;
	width: 102%;
	overflow-x: scroll;
}

ul#photos li {
	display: inline-block;
	margin: 1.5em;
	width: 20%;
}

ul#photos li div {
	width: 100%;
}

ul#photos li div img {
	width: 100%;
}